@{
}

<form action="/Paste/Create" method="post">
	<div class="form-group">
		<textarea style="resize:none" class="form-control" name="text" rows="20"></textarea>
	</div>
	<button type="submit" class="btn btn-primary">Create</button>
</form>
